@import url(https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap);

$font-main: 'Atkinson Hyperlegible', sans-serif;
$color-applause: #03a87c;
$color-danger: #f44336;
$color-text-primary: #606c76;
$color-text-secondary: #606c76;
$color-background-nav: #333;